services:
  auth:
    build:
      context: .
      dockerfile: apps/auth/Dockerfile
      args:
        NEXT_PUBLIC_AUTH_URL: ${NEXT_PUBLIC_AUTH_URL}
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true