services:
  # Social Media API
  social-media-api:
    build:
      context: .
      dockerfile: apps/social-media-api/Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - dokploy-network

  # Social Media Web
  social-media-web:
    build:
      context: .
      dockerfile: apps/social-media-web/Dockerfile
      args:
        NEXT_PUBLIC_CLIENT_URL: ${NEXT_PUBLIC_CLIENT_URL}
        NEXT_PUBLIC_AUTH_URL: ${NEXT_PUBLIC_AUTH_URL}
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    env_file:
      - .env
    depends_on:
      - social-media-api
    restart: unless-stopped
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
